* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home-testimonial {
  background-color: #231834;height: 380px
}
.home-testimonial-bottom {
  background-color: #f8f8f8;transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top: 20px;margin-bottom: 0px;position: relative;height: 130px;top: 190px
}
.home-testimonial h3 {
  color: var(--orange);font-size: 14px;font-weight: 500;text-transform: uppercase
}
.home-testimonial h2 {
  color: white;font-size: 28px;font-weight: 700
}
.testimonial-inner {
  position: relative;top: -174px
}
.testimonial-pos {
  position: relative;top: 24px
}
.testimonial-inner .tour-desc {
  border-radius: 5px;padding: 40px
}
.color-grey-3 {
  font-family: "Montserrat", Sans-serif;font-size: 14px;color: #2c2c2c
}
.testimonial-inner img.tm-people {
  width: 60px;height: 60px;-webkit-border-radius: 50%;border-radius: 50%;-o-object-fit: cover;object-fit: cover;max-width: none
}


.header {
  background-color: transparent !important ;
  position:absolute;
  z-index: 2;
  width: 100%;
  margin: 0%;
  padding: 0%;
 }

.row1{
  width: 100%;
  height: 30px;
  display: flex;
  align-items: end;
  justify-content: end;
}


@media only screen and (max-width: 600px){
  .carousel-inner{
    height: 600px;
  }
  #botella{
  height: 300px;
  align-items: center;
  justify-content: center;
  }
  .carousel-inner h3{
    font-size: 1rem;
    text-shadow: 3px 3px 15px #00000098;  }

  .img-fluid{
    height: 600px;
    object-fit: cover;
  }

}