* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header {
  background-color: transparent !important ;
  position:absolute;
  z-index: 2;
  width: 100%;
  margin: 0%;
  padding: 0%;
 }

.row1{
  width: 100%;
  height: 30px;
  display: flex;
  align-items: end;
  justify-content: end;
}

.card-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  max-width: 300px;
}

@media only screen and (max-width: 600px){
  .carousel-inner{
    height: 600px;
  }
  #botella{
  height: 300px;
  align-items: center;
  justify-content: center;
  }
  .carousel-inner h3{
    font-size: 1rem;
    text-shadow: 3px 3px 15px #00000098;  }

  .img-fluid{
    height: 600px;
    object-fit: cover;
  }

}